[submodule "indi"]
	path = indi
	url = https://github.com/indilib/indi.git
[submodule "indi-3rdparty"]
	path = indi-3rdparty
	url = https://github.com/indilib/indi-3rdparty
[submodule "libXISF"]
	path = libXISF
	url = https://gitea.nouspiro.space/nou/libXISF.git
