[submodule "indi"]
	path = indi
	url = https://github.com/indilib/indi.git
	branch = v2.1.4-3
[submodule "indi-3rdparty"]
	path = indi-3rdparty
	url = https://github.com/indilib/indi-3rdparty
	branch = v2.1.4-3
[submodule "libXISF"]
	path = libXISF
	url = https://gitea.nouspiro.space/nou/libXISF.git
	branch = ubuntu
[submodule "phd2"]
	path = phd2
	url = https://github.com/OpenPHDGuiding/phd2.git
	branch = a80b39bd1356e33e46d2e53eb77c1bb56d54ad00
